# Build results
bin/
obj/

# Visual Studio
.vscode/
.vscode-test/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Log files
*.log

# Others
.git/
.idea/
.cache/
*.DS_Store
